<link rel="stylesheet" href="/frontend/css/perfil.css" />


<section class="perfil-panel">
    <h2>Perfil de Usuario</h2>
    <div class="perfil-contenido">
      <div class="foto-perfil">
        <img id="imagenPerfil" src="static/default-user.png" alt="Foto de perfil">
        <input type="file" id="archivoPerfil" accept="image/*">
      </div>
  
      <div class="info-perfil">
        <p><strong>Nombre:</strong> <span id="nombreUsuario">-</span></p>
        <p><strong>Usuario:</strong> <span id="usuarioLogin">-</span></p>
        <p><strong>Rol:</strong> <span id="rolUsuario">-</span></p>
  
        <div class="form-cambio-clave">
          <label for="nuevaClave">Cambiar Contraseña</label>
          <input type="password" id="nuevaClave" placeholder="Nueva contraseña">
          <button id="btnCambiarClave">Actualizar</button>
        </div>
  
        <div class="acciones-perfil">
          <button id="btnCerrarSesion" class="cerrar">Cerrar Sesión</button>
        </div>
      </div>
    </div>
  </section>
  
  <style>
  
  </style>
  

  <script src="/frontend/js/login.js"></script>
