<link rel="stylesheet" href="/frontend/css/clientes.css" />


<section class="clientes-panel">
  <h2>Crédito a Clientes</h2>

  <div class="barra-acciones">
    <button class="activo">Estado de Cuenta</button>
    <button>Nuevo Cliente</button>
    <button>Modificar Cliente</button>
    <button>Eliminar Cliente</button>
    <button class="secundario">Reporte de Saldos</button>
  </div>

  <div class="estado-cuenta">
    <h3>Estado de Cuenta</h3>
    <label for="busquedaCliente">Teclee el Número o Nombre del cliente:</label>
    <input type="text" id="busquedaCliente" placeholder="Ej. Juan Perez o 123">

    <div class="tabla-clientes">
      <table>
        <thead>
          <tr><th>#</th><th>Nombre del Cliente</th></tr>
        </thead>
        <tbody>
          <tr><td>0</td><td>ELIZABETH VILCHIS GUADARRAMA</td></tr>
          <tr><td>1</td><td>MARIA ANGELICA SALAZAR GUZMAN</td></tr>
          <tr><td>2</td><td>YOSENDI JAHZEEL MARTINEZ AVILA</td></tr>
          <tr><td>3</td><td>IVVONNE BETANZOS</td></tr>
          <tr><td>4</td><td>CLAUDIA GIL LORA</td></tr>
          <tr><td>5</td><td>MIRIAM GABRIELA ZABALA LAZRO</td></tr>
        </tbody>
      </table>
    </div>

    <div class="acciones-clientes">
      <button class="btn-confirmar">Aceptar</button>
    </div>
  </div>
</section>
